Source: zthin
Section: unknown
Priority: optional
Maintainer: jichen <jichenjc@cn.ibm.com> huangrui <bjhuangr@cn.ibm.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage:

Package: zthin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: zthin package
 zthin package
