#!/bin/bash
. /etc/init.d/functions

RETVAL=0
PIDFILE=/var/run/sdkserver.pid

prog=sdkserver
exec=/usr/bin/sdkserver
lockfile=/var/lock/subsys/$prog

start() {
        [ -x $exec ] || exit 5

        umask 077

        echo -n $"Starting sdkserver"
        python $exec & echo $! > $PIDFILE
        RETVAL=$?
        echo
        [ $RETVAL -eq 0 ] && touch $lockfile
        return $RETVAL
}

stop() {
        echo -n $"Shutting down sdkserver "
        killproc -p "$PIDFILE" $exec
        RETVAL=$?
        echo
        [ $RETVAL -eq 0 ] && rm -f $lockfile
        return $RETVAL
}

rhstatus() {
        status -p "$PIDFILE" -l $prog $exec
}

restart() {
        stop
        start
}

case "$1" in
  start)
        start
        ;;
  stop)
        stop
        ;;
  restart)
        restart
        ;;
  reload)
        exit 3
        ;;
  force-reload)
        restart
        ;;
  status)
        rhstatus
        ;;
  condrestart|try-restart)
        rhstatus >/dev/null 2>&1 || exit 0
        restart
        ;;
  *)
        echo $"Usage: $0 {start|stop|restart|condrestart|try-restart|reload|force-reload|status}"
        exit 3
esac

exit $?

