Source: python-zvm-sdk
Section: unknown
Priority: optional
Maintainer: jichen <jichen@unknown>
# Build-Depends: debhelper (>=9),dh-python,python-all (>= 2.6.6-3~),python-setuptools,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: 
X-Python-Version: >= 2.7
# X-Python3-Version: >= 3.2

Package: python-python-zvm-sdk
Architecture: all
# Suggests: python-python-zvm-sdk-doc
Description: <insert up to 60 chars description> (Python 2)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 2.

# Package: python3-python-zvm-sdk
# Architecture: all
# Suggests: python-python-zvm-sdk-doc
# Description: <insert up to 60 chars description> (Python 3)
# <insert long description, indented with spaces>
#  .
# This package installs the library for Python 3.

# Package: python-python-zvm-sdk-doc
# Architecture: all
# Section: doc
# Description: <insert up to 60 chars description> (common documentation)
# <insert long description, indented with spaces>
#  .
# This is the common documentation package.

