#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

include /usr/share/python/python.mk

export DH_VERBOSE = 1
export PYBUILD_NAME=zvm-sdk

%:
	dh $@  --with python2,python3 --buildsystem=pybuild


override_dh_auto_build:
	dh_auto_build

override_dh_install:
	# rm -rf $(CURDIR)/debian/tmp
	python setup.py install -f --install-layout=deb --root=$(CURDIR)/debian/python-zvm-sdk --prefix=
	PYTHONPATH=$(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages
